.navbar-size {
    width: 95%;
    margin: 0 auto;
    background-color: aqua;
}

.user-image-size {
    height: 56px;
    margin: 4px 0;
}

.main-body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: calc(100vh - 64px);
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}

.click-me-button {
    background-color: #000000;
    margin-top: 50px;
}